@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #16201b;
    --second-bg-color: #1c2922;
    --text-color: #fff;
    --main-color: rgba(0, 255, 136, 0.562);
    --second-main-color: rgba(85, 226, 92, 0.959); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;

    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
}

html {
    font-size: 63%;
}

body {  
    background: var(--bg-color);
    color: var(--text-color);
}

html,
body {
    height: 100vh;
    text-rendering: optimizeLegibility;
}

section {   
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    padding: 10rem 10% 10rem;
    min-height: 100vh;
}

/*===== HEADER CONTENT DESIGN  =====*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 140rem;
    
    padding: 3rem 3%;
    margin: auto;
    
    background: var(--bg-color);
    
    position: fixed;
    z-index: 100%;
}

.logo {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.term-lx {
    color: var(--second-main-color);
}

#menu-icon {
    font-size: 1rem;
    color: var(--second-main-color);
    display: none; 
}

.navbar a {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);   
}

/*===== SECTION HOME DESIGN  =====*/

.home-content h1 {
    font-size: 3rem;
    font-weight: 640;
    height: auto;
}

.home .term-lx {
    font-size: 3.7rem;
    font-weight: 780;
}

.home-content p {
    line-height: 2.3rem;
    font-size: 1.5rem;
    margin: 1rem 0rem 0rem;
    height: auto;
}

.social-media a {
    margin: 1rem 1rem 1.5rem 0rem;

    background: transparent;
    font-size: 2.3rem;
    color: var(--main-color);   
}

/*===== SECTION ABOUT DESIGN  =====*/
.about {
    background: var(--second-bg-color);
}


.about .heading {
    font-size: 3rem;
    font-weight: 700;
   
}

.maincolor {
    color: var(--main-color);
}

.about-content p {
    line-height: 2.1rem;
    font-size: 1.5rem;
    
}

/*===== SECTION CTF DESIGN  =====*/

.ctf-content .heading {
    /*Configurar altura*/
    font-size: 3rem;
    text-align: center;
    font-weight: 700; 
}

details {
    margin-top: 5rem;
}

summary {
    font-size: 1.5rem;
    font-weight: 450;
    padding: 3%;

    border-bottom: 1px solid rgb(79, 107, 67);
    border-radius: .3rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
        

.ctfdescription {
    font-size: 1.7rem;
    list-style: none;
    color: var(--text-color);
}

h3 {
    margin-top: 1.9rem;
    font-size: 1.7rem;
    font-weight: 450;
}

ol {
    margin-top: 2rem;
    font-size: 1.5rem;

}

ol li {
    font-size: 1.2rem;
}

ol p {
    font-size:1.2rem ;
}

.code-ex {
    /*configurar tamanho da div*/
    font-size: 1.1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    
    color:rgb(223, 219, 219);
    background-color:var(--second-bg-color);
}

.code-p {
    font-size: 1.1rem;
    color:rgb(160, 155, 155);
}

ul {
    font-size: 1.2rem;
}

/*code colors*/
.code-red {
    color: rgba(236, 56, 56, 0.856);
}
.code-yellow {
    color: rgb(213, 240, 64);
}

.code-green {
    color: rgb(105, 214, 55);
}
.code-blue {
    color: rgb(86, 61, 226);
}

.code-purp {
    color: rgb(184, 71, 236);
}


/*DESIGN TAG FOOTER*/
.footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .2rem 9%;
}

.footer-text p {

    font-size: 1.1rem;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.footer-icontop a i {
    font-size: 3rem;
    color: var(--main-color);
}


/* BREAKPOINTS */


@media (max-width: 1440px){
    html {
        font-size: 80%;
    }
}


@media (max-width: 1024px){
    html {
        font-size: 72%;
    }

}

@media (max-width: 768px){
    html {
        font-size: 56%;
    }

    .home-content p {
        font-size: 2rem;
    } 
    
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 23.9rem;
        padding: 1rem 3%;

        background:  var(--bg-color);
        box-shadow: 0 0rem .1rem var(--bg-color);
        border-radius: .4rem;
        border-top: 0rem solid rgba(0, 0, 0, .2);
        
        display: none;
    }

    .navbar a {
        display: inline;
        padding: 1.5rem;
        font-size: 2rem;
        margin: 3rem 0;     
    }

    .navbar.active {
        display: block;
    }

    .imgctf {
        max-width:460px;
        max-height:320px;
        width: auto;
        height: auto;
    }

    .footer {
        flex-direction: column-reverse;
    }
}

@media (max-width: 425px){
    /*configurar depois + 375 - 320 - */
    html {
        font-size: 32%;
    }
}